.article-title {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}
.article-subtitle {
  text-align: center;
}
.article-subtitle span{
  margin: 0 .5rem;
}
.article-content {
  padding: 1.3rem;
  font-size: 1rem;
}
.article-content  img{
  width: 100%;
  border:1px solid #f3f3f3;
}

iframe{
  height: 34rem;
}
.title-anchor{
  color:#888 !important;
  padding:4px !important;
  margin: 0rem !important;
  height: auto !important;
  line-height: 1.2rem !important;
  font-size: .9rem !important;
  border-bottom: 1px dashed #eee;
}
.active{
  color:rgb(30, 144, 255) !important;
}
.nav-title{
  text-align: center;
  color: #888;
  border-bottom: 1px solid rgb(30, 144, 255);
}
.title-level3{
  display: none !important;
}
.ant-anchor-link-title{
  font-size: 12px !important;
}
.ant-anchor-wrapper{
  padding: 5px !important;
}
.article-content blockquote {
  border-left: 4px solid rgb(156, 203, 250);
  padding-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  -webkit-margin-bottom-collapse: 2rem;
  color: #666;
  font-size: 1rem;
  font-weight: bold;
}