.song-box .cover-wrap img {
  width: 100px;
  height: 100px;
}
.song-box .cover-wrap {
  width: 100px;
  height: 100px;
  position: relative;
  font-size: 50px;
}
/* 字体图标大小由fs决定 */
.song-box .icon {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 75%;
  width: 100px;
  height: 100px;
  color: #fff;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.song-box .icon:hover {
  opacity: 1;
}
.song-box {
  display: inline-block;
  width: 49.3%;
  position: relative;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  background-color: #eee;
}
.song-box .song-wrap {
  position: absolute;
  top: 0;
  left: 100px;
}
.song-box .song-wrap .title {
  font-size: .9rem;
  font-weight: 600;
  padding: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow:ellipsis;
}
.song-box .song-wrap .singer {
  font-size: .6rem;
  padding: 0 0 0 .5rem;
}
.song_lastest {
  padding: 0 .5rem;
}