.mv-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mv-item {
  width: 31%;
  margin-bottom: .5rem;
}

.mv-item .cover-wrap {
  position: relative;
  width: 100%;
  font-size: 3.5rem;
  line-height: 100px;
}
.mv-item .cover-wrap img{
  width: 100%;
}

.mv-item .cover-wrap .num {
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  display: flex;
  align-content: center;
  font-size: .6rem;
  line-height: .6rem;
  padding-right: 5px;
  padding-top: 2px;
}

/* 字体图标大小由fs决定 */
.mv-item .cover-wrap .icon {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 70%;
  width: 100px;
  height: 100px;
  color: #fff;
  cursor: pointer;
  transform: translate(-50%,-50%);
}
.mv-item .cover-wrap .icon:hover {
  opacity: 1;
}

.mv-item .song-name {
  font-size: 1rem;
  margin-top: .1rem;
  font-weight: 600;
}
.mv-item .singer-name {
  font-size: .8rem;
  color: #b5b5b5;
  white-space: nowrap;  
  overflow: hidden;
  text-overflow:ellipsis;
}